.icon {
  text-align: center;
  text-decoration: none;
  flex: 1;
}

#header {
  height: 60px;
  background-color: #D8C3A5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5px;
}

#header h3 {
  flex: 3;
}

.sortMethod {
  position: relative;
  margin-right: -160.33px;

}
@media only screen and (max-width: 800px){
  .sortMethod {
    color: white;
    display: none
  }
}

.header-sort {
  flex: 2;
  text-align: left;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacing {
  flex: 1
}

.dropdown {
  position: absolute;
  top: 55px;
  left: 11.2%;
  width: 200px;
  z-index: 2;
  background: white;
  /* border: 1px solid rgba(0, 0, 0, 0.04); */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  z-index: 1001;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

@media only screen and (max-width: 830px){
  .display-lg {
    flex: 0;
    display: none;
  }
}

.header-icon {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.icon-button {
  vertical-align: middle;
}

.icon-button * {
  margin-top: 6px;
}

.icon-wrapper {
  flex: 1;
  text-align: center;
  text-decoration: none;
}

.icon-trash {
  flex: 2;
}

.icon-button:focus {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.sort-label {
  display:  inline;
}

.sort-label.selected {
  font-weight:  600;
}

